
extends template.pug 
    
block content 
    form(action="/add_new_cpu", method="post")
        h3 Add new CPU
        .columns 
            .column.field.form-element
                label.label(for="db_name") Database Name
                input#input_db_name(type="text", name="db_name")
            .column.field.form-element
                label.label(for="name") Name
                input#input_name(type="text", name="name")
        .columns 
            .column.field.form-element
                label.label(for="manufacturer") manufacturer
                select#input_manufacturer(name="manufacturer") 
                    each val, key in manufacturer
                        option(value= val)= val
            .column.field.form-element
                label.label(for="socket") Socket
                select#input_socket(name="socket")
                    each val, key in socket
                        option(value=val)= val
        .columns 
            .column.field.form-element
                label.label(for="cores") Cores
                input#input_cores(type="number", name="cores", min="0") 
            .column.field.form-element
                label.label(for="threads") Threads
                input#input_threads(type="number", name="threads", min="0")
            .column.field.form-element
                label.label(for="base_frequency") Base Frequency
                input#input_base_frequency(type="number", name="base_frequency", min="0", step="0.1") 
            .column.field.form-element
                label.label(for="max_frequency") Max Frequency
                input#input_max_frequency(type="number", name="max_frequency", min="0", step="0.1") 
        .columns 
            .column.field.form-element
                label.label(for="cache") Cache
                input#input_cache(type="number", name="cache", min="0") 
            .column.field.form-element
                label.label(for="architecture") Architecture
                select#input_architecture(name="architecture")
                    each val, key in architecture
                        option(value=val)= val 
            .column.field.form-element
                label.label(for="integrated_gpu") Integrated GPU
                input#input_tegrated_gpu(type="checkbox", name="integrated_gpu")
            .column.field.form-element
                label.label(for="ram_technology") RAM Technology
                select#input_ram_technology(name="ram_technology")
                    option(value="ddr4") DDR4
                    option(value="ddr5") DDR5    
        .columns 
            .column.field.form-element
                label.label(for="tdp") TDP
                input#input_tdp(type="number", name="tdp", min="0")  
            .column.field.form-element
                label.label(for="year_of_release") Year Of Release
                input#input_year_of_release(type="date", name="year_of_release")
        each val, key in stores
            .columns
                .column.field.form-element
                    label.label(for=val + '_name') Store
                    input#input_(type="text", name=val + '_name', value=val disabled="true")
                .column.field.form-element
                    label.label(for=val + '_price') Price
                    input#input_(type="number", name=val + '_price', min="0", value="0")  
                .column.field.form-element
                    label.label(for=val + '_discount') Discount
                    input#input_(type="text", name=val + '_discount', min="0", value="0")
                .column.field.form-element
                    label.label(for=val + '_link') Link
                    input#input_(type="text", name=val + '_link' min="0", value="0")    
        .columns 
            .field.form-element
                input(type="submit", value="Submit")
