
extends ../template.pug 

block content
    form(action="/admin/motherboard/add_new_motherboard", method="post")
        h3 Add new Motherboard
        .row
            .column.field.form-element
                label.label(for="name") Name
                input#input_name(type="text", name="name")
            .column.field.form-element
                label.label(for="identifier") Identifier
                input#input_identifier(type="text", name="identifier")
            .column.field.form-element 
                label.label(for="manufacturer") Manufacturer 
                select#input_manufacturer(name="manufacturer")
                    each val, index in [...manufacturer] 
                        option(value= val, selected= index === 0)= val 
                
        each val, key in stores
            .row
                .column.field.form-element
                    label.label(for=val + '_name') Store
                    input(type="text", name=val + '_name', value=val disabled="true")
                .column.field.form-element 
                    label(for=val + '_store_sells') Store Sells?
                    input#input_store_sells(type="checkbox", name=val + "_store_sells") 
                .column.field.form-element
                    label.label(for=val + '_price') Price
                    input(type="number", name=val + '_price', min="0", value="0")  
                .column.field.form-element
                    label.label(for=val + '_discount') Discount
                    input(type="text", name=val + '_discount', min="0", value="0")
                .column.field.form-element
                    label.label(for=val + '_availability') Availability
                    input(type="checkbox", name=val + '_availability')
                .column.field.form-element
                    label.label(for=val + '_link') Link
                    input(type="text", name=val + '_link' min="0", value="0")    

        .row 
            .field.form-element
                input(type="submit", value="Submit")